

DB_NAME=gamearenadb
DB_USERNAME=gamer
DB_PASSWORD=mysecretpassword
JWT_SECRET=zOPWepPHUfaRCCR9xHgSemJ9eiO4E6mFo7/u7/MOaug=

API_URL=http://api:5762

NGROK_URL_API=
NGROK_AUTHTOKEN_API=
NGROK_URL_WEBAPP=
NGROK_AUTHTOKEN_WEBAPP=
